.texto_principal {
    padding-left: 600px; padding-top: 190px;
}

.conteiner_geral {
    display: flex;
    padding-top: 100px
}

.textoFruta {
    margin-left: 230px;
    margin-right: 5px;
    position: relative;
}

.textoVegetal {
    position: relative;
}

.textoGrao {
    margin-left: 5px;
    position: relative;
}


.frutasExtra {
    opacity: 0;
    position: absolute;
    top: 50%; /* centraliza verticalmente */
    left: 50%; /* centraliza horizontalmente */
    transform: translate(-50%, -50%); /* ajusta para centralizar completamente */
    text-align: center; /* alinha o texto no centro */
    text-decoration: none;
    transition: opacity 0.3s ease; /* adiciona uma transição suave */
    background-color: rgba(255, 255, 255, 0.5); /* Fundo preto com 50% de transparência */
}

.frutasExtra h3 {
    color: brown
}

.frutasExtra a {
    color: white;
}

.frutasExtra:hover {
    opacity: 1;
}

.vegetaisExtra {
    opacity: 0;
    position: absolute;
    top: 50%; /* centraliza verticalmente */
    left: 50%; /* centraliza horizontalmente */
    transform: translate(-50%, -50%); /* ajusta para centralizar completamente */
    text-align: center; /* alinha o texto no centro */
    text-decoration: none;
    transition: opacity 0.3s ease; /* adiciona uma transição suave */
    transition: opacity 0.3s ease; /* adiciona uma transição suave */
    background-color: rgba(255, 255, 255, 0.5); /* Fundo preto com 50% de transparência */
}

.vegetaisExtra h3 {
    color: brown;
}

.vegetaisExtra a {
    color: white;
}

.vegetaisExtra:hover {
   opacity: 1;
}

.graosExtra {
    opacity: 0;
    position: absolute;
    top: 50%; /* centraliza verticalmente */
    left: 50%; /* centraliza horizontalmente */
    transform: translate(-50%, -50%); /* ajusta para centralizar completamente */
    text-align: center; /* alinha o texto no centro */
    text-decoration: none;
    transition: opacity 0.3s ease; /* adiciona uma transição suave */
    background-color: rgba(255, 255, 255, 0.5); /* Fundo preto com 50% de transparência */
}

.graosExtra h3 {
    color: brown;
}

.graosExtra a {
    color: white;
}

.graosExtra:hover {
    opacity: 1;
}

.textoGrao:not() {
    margin-bottom: 3rem;
  }
